<div id="<%= dom_id order %>">
  <p>
    <strong>Additional info:</strong>
    <%= order.additional_info %>
  </p>

  <p>
    <strong>Order note:</strong>
    <%= order.order_note %>
  </p>

  <p>
    <strong>Delivery note:</strong>
    <%= order.delivery_note %>
  </p>

  <p>
    <strong>Delivery date:</strong>
    <%= order.delivery_date %>
  </p>

  <p>
    <strong>Order number:</strong>
    <%= order.order_number %>
  </p>

  <p>
    <strong>Delivery cost:</strong>
    <%= order.delivery_cost %>
  </p>

  <p>
    <strong>Subtotal:</strong>
    <%= order.subtotal %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= order.total %>
  </p>

</div>
